  body {
    margin: 0;
    font-family: Arial;
    background-image: url("../../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .HomeLayout {
    display: flex;
    flex-direction: column;
  }


  @media screen and (max-width:480px){
    
  }